/* Tailwind base utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables */
:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
}

.dark {
  --background-light: #222222; /* Dark mode background */
  --foreground-light: #ededed; /* Dark mode text color */
}

/* Apply the variables to the body */
body {
  background-color: var(--background-light);
  color: var(--foreground-light);
  font-family: 'SuisseIntl', sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Ensure Tailwind dark mode matches the system */
@tailwind utilities;

/* Custom styles if necessary */
