/* Tailwind base utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables for light and dark modes */
:root {
  --background-light: #ffffff;
  --background-dark: #222222;
  --foreground-light: #171717;
  --foreground-dark: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #222222; /* Dark mode background */
    --foreground-light: #ededed; /* Dark mode text color */
  }
}

/* Apply the variables to the body */
body {
  background-color: var(--background-light);
  color: var(--foreground-light);
  font-family: 'SuisseIntl', sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--foreground-dark);
  }
}

/* Ensuring Tailwind's dark mode matches the system */
@tailwind utilities;

/* Custom styles if necessary */
